.linkBtn {
    text-decoration: none;
    background-color: var(--secondary-color);
    margin: 12px;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    height: 50px;
    display: flex;
    background-color: var(--primary-color,#000000);
}

.noCartItems {
    height: 24px;
    width: 24px;
    font-size: 16px;
    border-radius: 24px;
    text-align: center;
    background-color: var(--secondary-color);
}

main{
    height: 1fr;
}